# credential for dns servert
credential: 

# the certificate arn to be renewed
certificate_arn:

# email address for the certification
email_address:

# grace period for renewal (renew with this number of days of expiration, defaults to 10)
# renewal_graceperiod: 30

# S3 path to put certs (so others can use them)
s3_uri: 

# bucket to deploy to
deployment_bucket: 
